h2{
    color:rgb(196, 142, 245);
    text-align: center;
}
/* p{  
    color:aliceblue;
    background-color:black;
} */
.highlight{
    text-align: center;
    color:maroon;
}
#kata-mama-makan-dulu{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:yellowgreen;
}